@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.125rem;
  background-color: #19a2ae;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding: 0 20px;
}

.bg-top, .bg-bottom {
  position: absolute;
  z-index: 0;
}

.bg-top {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bg-bottom {
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 350px;
  min-width: 300px;
  background-color: white;
  border-radius: .875rem;
  overflow: hidden;
  z-index: 1;
  -webkit-box-shadow: 0px 4px 40px 4px rgba(66, 66, 66, 0.42);
          box-shadow: 0px 4px 40px 4px rgba(66, 66, 66, 0.42);
  cursor: default;
}

.card .card-banner {
  width: 100%;
  margin-bottom: -50px;
}

.card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  gap: 1.625rem;
}

.card .card-content .avatar {
  width: 100px;
  border-radius: 50%;
  border: 0.25rem solid white;
}

.card .card-content .basic-info .name-age {
  margin-bottom: 6px;
}

.card .card-content .basic-info .name-age .name {
  font-weight: 700;
  color: #2d3248;
  margin-right: 6px;
}

.card .card-content .basic-info .name-age .age {
  color: #6a6f81;
}

.card .card-content .basic-info .location {
  font-size: 0.875rem;
  color: #6a6f81;
}

.card .card-content .profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #b3b3b3;
  width: 100%;
}

.card .card-content .profile-info .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.625rem 0;
}

.card .card-content .profile-info .data .value {
  font-weight: 600;
  color: #2d3248;
}

.card .card-content .profile-info .data .description {
  font-size: 0.875rem;
  color: #6a6f81;
}
/*# sourceMappingURL=style.css.map */