.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        background-color: $dark-desaturated-blue-cardBG;
        width: 88%;
        border-radius: 8px;
        max-width: 320px;

        .desktop-image-header {
            display: none;
        }

        .mobile-image-header {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            // margin-bottom: 40px;
            
            img {
                position: relative;
                width: 100%;
                border-radius: 8px 8px 0 0;
            }

            &::after { // add overlay
                content: '';
                position: absolute;
                inset: 0;
                background: $soft-violet-accent;
                width: 100%;
                height: 100%;
                opacity: .6;
                border-radius: 8px 8px 0 0;
            }
        }

        .description {
            padding: 40px 34px 38px 34px;
            font-family: 'Inter';
            text-align: center;
            h1 {
                font-size: 28px;
                font-weight: 700;
                line-height: 32px;
                letter-spacing: 0.0099px;
                margin-bottom: 16px;

                span {
                    color: $soft-violet-accent;
                }
            }

            p {
                color: $slightly-transparent-white-paragraph;
                line-height: 25px;
                margin-bottom: 41px;
            }

            .stats {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 30px;
                letter-spacing: 2px;

                .statistic {

                    .number {
                        font-size: 22px;
                        font-weight: 700;
                        margin-bottom: 8px;
                        letter-spacing: 1.5px;
                    }

                    .desc {
                        text-transform: uppercase;
                        font-family: 'Lexend Deca';
                        font-size: 13px;
                        font-weight: 400;
                        letter-spacing: .28px;
                        color: $slightly-transparent-white-stats;
                    }
                }
            }
        }

    }

}