// ## Colors

// ### Primary

$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

// ### Neutral

$very-dark-blue_mainBG: hsl(217, 54%, 11%);
$very-dark-blue_cardBG: hsl(216, 50%, 16%);
$very-dark-blue_line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

// ## Typography

// ### Body Copy

// - Font size (paragraph): 18px

// ### Font

// - Family: [Outfit](https://fonts.google.com/specimen/Outfit)
// - Weights: 300, 400, 600


@import 'general';
@import 'card';