@media screen and (min-width: 1440px) {

    .container {

        .card {
            padding: 32px;
            max-width: 412px;

            .star {
                width: 48px;
                height: 48px;

                img {
                    width: 20px;
                    height: 20px;
                }
            }

            h1 {
                font-size: $font-size-header-lg;
                margin-top: 36px;
                margin-bottom: 24px;
            }

            p {
                letter-spacing: 0px;
                font-size: $font-size-paragraph-lg;
                margin-bottom: 30px;
            }
            
        }
    }
    
}