//Colours 
 
//**Primary

$white: hsl(0, 0%, 100%);

//*** Text
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

//**** Background Gradient *****
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

//*** Divider ***/newbie/faq-accordion-card-main/images/illustration-woman-online-desktop.svg
$light-grayish-blue: hsl(240, 5%, 91%);


//Typography

//**Body Copy

$font-size: 0.75rem;

//*** Font

// - Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
// - Weights: 400, 700;
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600;700&display=swap');

//Extra CSS
@import 'general';
